swagger: '2.0'
info:
  title: sevDesk
  description: "# Getting started\r\nThe sevDesk API v1 uses a token authentication.\r\n\r\nYou need to click on the authorization button (lock symbol) and enter your api-key there.\r\n\r\nThe token can be found on [https://my.sevdesk.de](https://my.sevdesk.de).\r\n\r\nsettings-->user-->specific user\r\n\r\n# General information\r\n\r\nThe sevDesk api uses **models** to represent the different categories like **contacts** and **invoices**.\r\n\r\nEvery time you request such a model from the api, it will return the whole model schema including the unique **model id** and all the other objects and parameters that are included in the model.\r\n\r\nHave a look at it in the developer console of your desired browser, especially if you are looking for specific parameters like the model id.\r\n\r\n# URL\r\n\r\nThe basic URL contains four elements. **BaseURL** + **Controller** + **Version** + **Model**: [https://my.sevdesk.de/api/v1/Contact/](https://my.sevdesk.de/api/v1/Contact/)\r\n\r\n# Basic Operations\r\n\r\nAccess a list of models: [https://my.sevdesk.de/api/v1/{Model}/](https://my.sevdesk.de/api/v1/{Model}/)\r\n\r\nAccess a specific model: [https://my.sevdesk.de/api/v1/{Model}/{id}](https://my.sevdesk.de/api/v1/{Model}/{id})\r\n\r\nThe **id** of a specific model can usually be found in the **developer console** of your browser or when opening a specific model, in the **url**.\r\n\r\nCall a model function: [https://my.sevdesk.de/api/v1/{Model}/{id}/{Function}](https://my.sevdesk.de/api/v1/{Model}/{id}/{Function})\r\n\r\nEach operation can be used with different HTTP methods:\r\n* GET - read data\r\n* POST - create data\r\n* PUT - update existing data\r\n* DELETE - delete data\r\n\r\n# Useful Parameters\r\n\r\nFor each request, there are some specific parameters.\r\n\r\n**GET Query Parameters**\r\n* **limit** - limits the number of entries returned\r\n* **offset** - set the index where the returned entries should start\r\n* **embed** - embed can be used to get some additional information about a model. For example you can get the addresses of a contact with **embed=addresses**\r\n\r\n`[GET]https://my.sevdesk.de/api/v1/Contact/?embed=addresses`\r\n\r\n* If there is a need to get more information about the country in the addresses, embed can be extended by **addresses.country**\r\n\r\n`[GET]https://my.sevdesk.de/api/v1/Contact/?embed=addresses,addresses.country`\r\n\r\n* Some models also contain other models. By default these models are only filled with an id and objectName. If you want to get more information about the nested model you can use embed too.\r\n\r\n`[GET]https://my.sevdesk.de/api/v1/Contact/?embed=parent`\r\n\r\n* Every model also has specified 'query parameters'. These can be used to filter the results. E.g. all Contacts with a 'Company' in their name\r\n\r\n`[GET]https://my.sevdesk.de/api/v1/Contact/?name=Company`\r\n\r\n* **countAll** If countAll is set to 1 the total number of entries will be returned additionally\r\n* **orderBy** Is an array that can be filled with objects containing the the properties field and arrangement\r\n\r\n`json: orderBy = [{field:'parent' ,arrangement:'desc'},{field:'name' ,arrangement:'asc'}];`\r\n\r\n`url: ?orderBy[0][field]=parent&orderBy[0][arrangement]=desc&orderBy[1][field]=name&orderBy[1][arrangement]=asc`"
  version: 1.0.0
host: my.sevdesk.de
basePath: /api/v1
schemes:
  - https
paths:
  /AccountingChart:
    get:
      tags:
        - AccountingChart
      summary: Get an overview of all accounting charts
      description: Calls AccountingChart.php to get necessary variables.
      operationId: getAccountingChart
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 100
          required: false
          type: integer
          default: 100
        - name: offset
          in: query
          description: >-
            Set the index where the returned accounting charts start. Default is
            0
          required: false
          type: integer
          default: 0
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AccountingChart'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    post:
      tags:
        - AccountingChart
      summary: Create a new accounting chart
      description: Calls AccountingChart.php to add an accounting chart
      operationId: addAccountingChart
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: body
          in: body
          description: >-
            To create an accounting chart, simply enter desired values after
            parameter= and remove the quotation marks.
          required: true
          schema:
            example: name=
          x-example: name=
      responses:
        '201':
          description: created
          schema:
            $ref: '#/definitions/Model_AccountingChart'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/AccountingChart/{id}':
    put:
      tags:
        - AccountingChart
      summary: Update an existing accounting chart
      description: Calls AccountingChart.php to update an accounting chart
      operationId: updateAccountingChart
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of accounting chart you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: >-
            Parameters which need to be updated. Enter the parameters according
            to the syntax: parameter1=&parameter2= and remove the quotation
            marks
          schema: {}
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AccountingChart'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    delete:
      tags:
        - AccountingChart
      summary: Delete an existing accounting chart
      description: Calls AccountingChart.php to delete an accounting chart
      operationId: deleteAccountingChart
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of the accounting chart you want to delete
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: deleted
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /AccountingContact:
    get:
      tags:
        - AccountingContact
      summary: Get an overview of all accounting contacts
      description: Calls AccountingContact.php to get necessary variables.
      operationId: getAccountingContacts
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 100
          required: false
          type: integer
          default: 100
        - name: offset
          in: query
          description: Set the index where the returned discounts start. Default is 0
          required: false
          type: integer
          default: 0
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AccountingContact'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    post:
      tags:
        - AccountingContact
      summary: Create a new accounting contact
      description: 'Calls AccountingContact.php '
      operationId: addAccountingContact
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: body
          in: body
          description: >-
            To create an accounting contact, simply enter desired values after
            parameter= and remove the quotation marks.
          required: true
          schema:
            example: >-
              contact[id]=&contact[objectName]=Contact&debitorNumber=&creditorNumber=
          x-example: >-
            contact[id]=&contact[objectName]=Contact&debitorNumber=&creditorNumber=
      responses:
        '201':
          description: created
          schema:
            $ref: '#/definitions/Model_AccountingContact'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/AccountingContact/{id}':
    put:
      tags:
        - AccountingContact
      summary: Update an existing accounting contact
      description: Calls AccountingContact.php
      operationId: updateAccountingContact
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of accounting contact you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: "Parameters which need to be updated. Please refer to the description from create accounting contact.\r\n\r\nEnter the parameters according to the syntax: parameter1=&parameter2="
          schema: {}
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AccountingContact'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    delete:
      tags:
        - AccountingContact
      summary: Delete an existing accounting contact
      description: Calls the delete() function in AccountingContact.php
      operationId: deleteAccountingContact
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of accounting contact you want to delete
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: deleted
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /AccountingContact/isAvailableDebitorCreditorNumber:
    get:
      tags:
        - AccountingContact
      summary: Return if a debitor / creditor number is available
      description: >-
        Calls isAvailableDebitorCreditorNumber() in AccountingContact.php to get
        if the debitor / creditor number is available.
      operationId: AccountingContactIsAvailableDebitorCreditorNumber
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: 'contact[id]'
          in: query
          description: >-
            If you want to exclude a contact from getting checked you can
            provide its id here
          required: false
          type: integer
          default: null
        - name: 'contact[objectName]'
          in: query
          description: Contact object name
          required: false
          type: string
          default: Contact
        - name: debitorNumber
          in: query
          description: debitor number of which you want to know if it is available
          required: false
          type: string
          default: null
        - name: creditorNumber
          in: query
          description: creditor number of which you want to know if it is available
          required: false
          type: string
          default: null
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /AccountingCorrection:
    get:
      tags:
        - AccountingCorrection
      summary: Get an overview of all accounting corrections
      description: Calls AccountingCorrection.php to get necessary variables.
      operationId: getAccountingCorrections
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 100
          required: false
          type: integer
          default: 100
        - name: offset
          in: query
          description: >-
            Set the index where the returned accounting corrections start.
            Default is 0
          required: false
          type: integer
          default: 0
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AccountingCorrection'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    post:
      tags:
        - AccountingCorrection
      summary: Create a new accounting correction
      description: Calls AccountingCorrection.php to add an accounting correction
      operationId: addAccountingCorrection
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: body
          in: body
          description: >-
            To create an accounting correction, simply enter desired values
            after parameter= and remove the quotation marks.
          required: true
          schema:
            example: >-
              object[id]=&object[objectName]=&accountingType[id]=&accountingType[objectName]=AccountingType&ammount=
          x-example: >-
            object[id]=&object[objectName]=&accountingType[id]=&accountingType[objectName]=AccountingType&ammount=
      responses:
        '201':
          description: created
          schema:
            $ref: '#/definitions/Model_AccountingCorrection'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/AccountingCorrection/{id}':
    put:
      tags:
        - AccountingCorrection
      summary: Update an existing accounting correction
      description: Calls AccountingCorrection.php to update an accounting correction
      operationId: updateAccountingCorrection
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of accounting correction you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: >-
            Parameters which need to be updated. Enter the parameters according
            to the syntax: parameter1=&parameter2= and remove the quotation
            marks
          schema: {}
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AccountingCorrection'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    delete:
      tags:
        - AccountingCorrection
      summary: Delete an existing accounting correction
      description: Calls AccountingCorrection.php to delete an accounting correction
      operationId: deleteAccountingCorrection
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of the accounting correction you want to delete
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: deleted
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /AccountingIndex:
    get:
      tags:
        - AccountingIndex
      summary: Get an overview of all accounting indexes
      description: Calls AccountingIndex.php to get necessary variables.
      operationId: getAccountingIndexes
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 100
          required: false
          type: integer
          default: 100
        - name: offset
          in: query
          description: >-
            Set the index where the returned accounting indexes start. Default
            is 0
          required: false
          type: integer
          default: 0
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AccountingIndex'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    post:
      tags:
        - AccountingIndex
      summary: Create a new accounting index
      description: Calls AccountingIndex.php to add an accounting index
      operationId: addAccountingIndex
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: body
          in: body
          description: >-
            To create an accounting index, simply enter desired values after
            parameter= and remove the quotation marks.
          required: true
          schema:
            example: >-
              keyword=&accountingType[id]=&accountingType[objectName]=AccountingType&taxType=default
          x-example: >-
            keyword=&accountingType[id]=&accountingType[objectName]=AccountingType&taxType=default
      responses:
        '201':
          description: created
          schema:
            $ref: '#/definitions/Model_AccountingIndex'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/AccountingIndex/{id}':
    put:
      tags:
        - AccountingIndex
      summary: Update an existing accounting index
      description: Calls AccountingIndex.php to update an accounting index
      operationId: updateAccountingIndex
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of accounting index you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: >-
            Parameters which need to be updated. Enter the parameters according
            to the syntax: parameter1=&parameter2= and remove the quotation
            marks
          schema: {}
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AccountingIndex'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    delete:
      tags:
        - AccountingIndex
      summary: Delete an existing accounting index
      description: Calls AccountingIndex.php to delete an accounting index
      operationId: deleteAccountingIndex
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of the accounting index you want to delete
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: deleted
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /AccountingSystem:
    get:
      tags:
        - AccountingSystem
      summary: Get an overview of all accounting systems
      description: Calls AccountingSystem.php to get necessary variables.
      operationId: getAccountingSystems
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 100
          required: false
          type: integer
          default: 100
        - name: offset
          in: query
          description: >-
            Set the index where the returned accounting systems start. Default
            is 0
          required: false
          type: integer
          default: 0
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AccountingSystem'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /AccountingSystemNumber:
    get:
      tags:
        - AccountingSystemNumber
      summary: Get an overview of all accounting system numbers
      description: Calls AccountingSystemNumber.php to get necessary variables.
      operationId: getAccountingSystemNumbers
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 1000
          required: false
          type: integer
          default: 1000
        - name: offset
          in: query
          description: >-
            Set the index where the returned accounting system numbers start.
            Default is 0
          required: false
          type: integer
          default: 0
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AccountingSystemNumber'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    post:
      tags:
        - AccountingSystemNumber
      summary: Create a new accounting system number
      description: 'Calls AccountingSystemNumber.php '
      operationId: addAccountingSystemNumber
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: body
          in: body
          description: >-
            To create an accounting system number, simply enter desired values
            after parameter= and remove the quotation marks.
          required: true
          schema:
            example: >-
              number=&accountingType[id]=&accountingType[objectName]=AccountingType&accountingSystem[id]=1&accountingSystem[objectName]=AccountingSystem&objectName=AccountingSystemNumber 
              &id=&accountingSystemNumber=undefined
          x-example: >-
            number=&accountingType[id]=&accountingType[objectName]=AccountingType&accountingSystem[id]=1&accountingSystem[objectName]=AccountingSystem&objectName=AccountingSystemNumber 
            &id=&accountingSystemNumber=undefined
      responses:
        '201':
          description: created
          schema:
            $ref: '#/definitions/Model_AccountingSystemNumber'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/AccountingSystemNumber/{id}':
    put:
      tags:
        - AccountingSystemNumber
      summary: Update an existing accounting system number
      description: Calls AccountingSystemNumber.php
      operationId: updateAccountingSystemNumber
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of accounting system number you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: "Parameters which need to be updated. Please refer to the description from create accounting system number.\r\n\r\nAppend the parameters according to the syntax: parameter1=&parameter2= and remove the quotation marks!"
          schema:
            example: ''
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AccountingType'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    delete:
      tags:
        - AccountingSystemNumber
      summary: Delete an existing accounting system number
      description: Calls the delete() function in AccountingSystemNumber.php
      operationId: deleteAccountingSystemNumber
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of accounting system number you want to delete
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: deleted
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /AccountingType:
    get:
      tags:
        - AccountingType
      summary: Get an overview of all accounting types
      description: Calls AccountingType.php to get necessary variables.
      operationId: getAccountingTypes
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 1000
          required: false
          type: integer
          default: 1000
        - name: offset
          in: query
          description: >-
            Set the index where the returned accounting types start. Default is
            0
          required: false
          type: integer
          default: 0
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AccountingType'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    post:
      tags:
        - AccountingType
      summary: Create a new accounting type
      description: 'Calls AccountingType.php '
      operationId: addAccountingType
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: body
          in: body
          description: >-
            To create an accounting type, simply enter desired values after
            parameter= and remove the quotation marks.
          required: true
          schema:
            example: >-
              parent[id]=&parent[objectName]=AccountingType&name=&type=&assetType=N&status=100
          x-example: >-
            parent[id]=&parent[objectName]=AccountingType&name=&type=&assetType=N&status=100
      responses:
        '201':
          description: created
          schema:
            $ref: '#/definitions/Model_AccountingType'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/AccountingType/{id}':
    put:
      tags:
        - AccountingType
      summary: Update an existing accounting type
      description: Calls AccountingType.php
      operationId: updateAccountingType
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of accounting type you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: "Parameters which need to be updated. Please refer to the description from create accounting type.\r\n\r\nAppend the parameters according to the syntax: parameter1=&parameter2= and remove the quotation marks!"
          schema:
            example: objectName=AccountingType
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AccountingType'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    delete:
      tags:
        - AccountingType
      summary: Delete an existing accounting type
      description: Calls the delete() function in AccountingType.php
      operationId: deleteAccountingType
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of accounting type you want to delete
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: deleted
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/AccountingType/{id}/getAccountingSystemNumber':
    get:
      tags:
        - AccountingType
      summary: Get accounting system number of the specified accounting type
      description: >-
        Calls getAccountingSystemNumber() in AccountingType.php to get the
        accounting system number of the specified accounting type.
      operationId: AccountingTypeGetAccountingSystemNumber
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: >-
            Id of the accounting type for which you want to get the accounting
            system number
          required: true
          type: integer
          default: null
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AccountingSystemNumber'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/AccountingType/{id}/getAccountingNumber':
    get:
      tags:
        - AccountingType
      summary: Get accounting system number of the specified accounting type
      description: "Calls getAccountingNumber() in AccountingType.php to get the accounting system number of the specified accounting type.\r\n\r\nBasically this function does just calls getAccountingSystemNumber() and returns just the number, not the model."
      operationId: AccountingTypeGetAccountingNumber
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: >-
            Id of the accounting type for which you want to get the accounting
            system number
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/AccountingType/{id}/getAccountingNumberDepreciation':
    get:
      tags:
        - AccountingType
      summary: >-
        Get accounting system number depreciation of the specified accounting
        type
      description: "Calls getAccountingNumberDepreciation() in AccountingType.php to get the accounting system number depreciation of the specified accounting type.\r\n\r\nBasically this function does just calls getAccountingSystemNumber() and returns just the depreciation, not the model."
      operationId: AccountingTypeGetAccountingNumberDepreciation
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: >-
            Id of the accounting type for which you want to get the accounting
            system number depreciation
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /AccountingType/Factory/createType:
    post:
      tags:
        - AccountingType
      summary: Create a new accounting type
      description: "With the new version of sevdesk some models are not created by calling the Model.php directly but by calling the Factory.php because of better performance and flexibility.\r\n\r\nBasically the Model.php itself still constructs the model however new instances of the model are created trough the factory.php\r\n\r\nSo for example when you create a new invoice it wont be saved by a POST request with '/Invoice?para1=&...' but with the saveInvoice function in Factory.php 'Voucher/Factory/saveInvoice?para1='"
      operationId: addAccountingTypeFactory
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: body
          in: body
          description: >-
            To create an accounting type, simply enter desired values after
            parameter= and remove the quotation marks.
          required: true
          schema:
            example: name=&type=&number=&assetType=N&numberDepreciation=&automatic=
          x-example: name=&type=&number=&assetType=N&numberDepreciation=&automatic=
      responses:
        '201':
          description: created
          schema:
            $ref: '#/definitions/Model_AccountingType'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /Aggregator/getWebRevenueChartData:
    get:
      tags:
        - Aggregator
      summary: Get the data which is displayed in the chart on the dashboard
      description: >-
        Calls getWebRevenueChartData() in Aggregator.php to get data displayed
        in the revenue chart on the dashboard
      operationId: AggregatorGetWebRevenueChartData
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: sumGrossToggle
          in: query
          description: Specify if you want to calculate sum gross instead of net
          required: false
          type: boolean
          default: false
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /Aggregator/getAppRevenueChartData:
    get:
      tags:
        - Aggregator
      summary: Get the data which is displayed in the chart on the dashboard in the app
      description: >-
        Calls getAppRevenueChartData() in Aggregator.php to get data displayed
        in the revenue chart on the dashboard in the app
      operationId: AggregatorGetAppRevenueChartData
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /Aggregator/getProfitAndLossCalculation:
    get:
      tags:
        - Aggregator
      summary: Calculates the profit and loss over a specified period
      description: "Calls getProfitAndLossCalculation() in Aggregator.php to calculate the profit and loss over a specified period.\r\n\r\nThe output of this function is divided into six groups:\r\n* costs - all invoices/vouchers which contain a spending, again separated into direct [dc] and indirect costs [ic]\r\n* earnings - all invoices/vouchers which contain a earning\r\n* totalcosts\r\n* totalearnings\r\n* totalrevenue\r\n* profit - the profit, difference between costs and earnings"
      operationId: AggregatorGetProfitAndLossCalculation
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: startDate
          in: query
          description: Start date of the period you want to calculate
          required: true
          type: string
          default: null
        - name: endDate
          in: query
          description: End date of the period you want to calculate
          required: true
          type: string
          default: null
        - name: actualTaxation
          in: query
          description: >-
            Specify if you want to calculate the net income method (true) or the
            profit and loss (false)
          required: true
          type: boolean
          default: false
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /Aggregator/getTaxInformation:
    get:
      tags:
        - Aggregator
      summary: Calculates tax of earnings and spending over a specified period
      description: "Calls getTaxInformation() in Aggregator.php to calculate tax of earnings and spending over a specified period.\r\n\r\nThis function will return:\r\n* earningsSum (gross earnings), earningsSumNet (net earnings)\r\n* earningsTax - tax on earnings\r\n* expensesSum (gross expenses), expensesSumNet (net expenses)\r\n* expensesTax - tax on expenses\r\n* earningsTaxGroups - list of invoices/vouchers which involved a taxation, separated into tax groups\r\n* expensesTaxGroups - list of invoices/vouchers which involved a taxation, separated into tax groups\r\n* remainingTaxPayable - tax which is yet to be payed"
      operationId: AggregatorGetTaxInformation
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: type
          in: query
          description: Tax period you want to calculate with
          required: true
          type: string
          default: monthly
          enum:
            - monthly
            - quarterly
            - semiannual
        - name: year
          in: query
          description: Year of your tax calculation
          required: true
          type: string
          default: null
        - name: period
          in: query
          description: Starting period (month) of your tax calculation
          required: true
          type: integer
          default: null
        - name: actualTaxation
          in: query
          description: >-
            Specify if you want to calculate the net income method (true) or the
            profit and loss (false)
          required: true
          type: boolean
          default: false
        - name: noActualTaxationOnInputTax
          in: query
          description: Specify if you want no actual taxation on input tax
          required: true
          type: boolean
          default: false
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /Aggregator/calcTotalDepreciation:
    get:
      tags:
        - Aggregator
      summary: >-
        Calculates total sum of all asset amounts for the year of the current
        query
      description: >-
        Calls calcTotalDepreciation() in Aggregator.php to get total sum of all
        asset amounts for the year of the current query
      operationId: AggregatorCalcTotalDepreciation
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /Aggregator/getVoucherCategoryInformation:
    get:
      tags:
        - Aggregator
      summary: >-
        Get information about the categories of all vouchers in the year of the
        current query
      description: >-
        Calls getVoucherCategoryInformation() in Aggregator.php to get
        information about the categories of all vouchers in the year of the
        current query
      operationId: AggregatorGetVoucherCategoryInformation
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /Aggregator/getVoucherChartData:
    get:
      tags:
        - Aggregator
      summary: Get voucher chart data
      description: Calls getVoucherChartData() in Aggregator.php to get voucher chart data
      operationId: AggregatorGetVoucherChartData
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: year
          in: query
          description: Year for which you want to get the voucher chart data
          required: true
          type: string
          default: null
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /Aggregator/getAccountingScore:
    get:
      tags:
        - Aggregator
      summary: Get accounting score
      description: >-
        Calls getAccountingScore() in Aggregator.php to get your accounting
        score
      operationId: AggregatorGetAccountingScore
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: startdate
          in: query
          description: Start date for the accounting score calculation
          required: false
          type: string
          default: null
        - name: enddate
          in: query
          description: End date for the accounting score calculation
          required: false
          type: string
          default: null
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /Asset:
    get:
      tags:
        - Asset
      summary: Get an overview of all assets
      description: Calls Asset.php to get necessary variables.
      operationId: getAssets
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 100
          required: false
          type: integer
          default: 100
        - name: offset
          in: query
          description: Set the index where the returned assets start. Default is 0
          required: false
          type: integer
          default: 0
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_Asset'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    post:
      tags:
        - Asset
      summary: Create a new asset
      description: 'Calls Asset.php '
      operationId: addAsset
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: body
          in: body
          description: >-
            To create an asset, simply enter desired values after parameter= and
            remove the quotation marks.
          required: true
          schema:
            example: >-
              voucherPos[id]=&voucherPos[objectName]=VoucherPos&name=&usefulLife=&acquisitionDate=&purchasePrice=&taxRate=19&accountingType[id]=&accountingType[objectName]=AccountingType
          x-example: >-
            voucherPos[id]=&voucherPos[objectName]=VoucherPos&name=&usefulLife=&acquisitionDate=&purchasePrice=&taxRate=19&accountingType[id]=&accountingType[objectName]=AccountingType
      responses:
        '201':
          description: created
          schema:
            $ref: '#/definitions/Model_Asset'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/Asset/{id}':
    put:
      tags:
        - Asset
      summary: Update an existing asset
      description: Calls Asset.php
      operationId: updateAsset
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of asset you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: "Parameters which need to be updated. Please refer to the description from create asset.\r\n\r\nAppend the parameters according to the syntax: parameter1=&parameter2= and remove the quotation marks!"
          schema:
            example: ''
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_Asset'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    delete:
      tags:
        - Asset
      summary: Delete an existing asset
      description: Calls the delete() function in Asset.php
      operationId: deleteAsset
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of asset you want to delete
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: deleted
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/Asset/{id}/getVoucher':
    get:
      tags:
        - Asset
      summary: Get voucher of the specified asset
      description: >-
        Calls getVoucher() in Asset.php to get the voucher of the specified
        asset
      operationId: AssetGetVoucher
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: Id of the asset of which you want to get the voucher
          required: true
          type: integer
          default: null
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_Voucher'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/Asset/{id}/getDepreciationAmount':
    get:
      tags:
        - Asset
      summary: Get depreciation amount of the specified asset for the given year/month
      description: >-
        Calls getDepreciationAmount() in Asset.php to get the depreciation
        ammount of the specified asset for the given year/month
      operationId: AssetGetDepreciationAmount
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: Id of the asset of which you want to get the depreciation amount
          required: true
          type: integer
          default: null
        - name: year
          in: query
          description: year for which you want to get the depreciation amount
          required: false
          type: string
          default: null
        - name: month
          in: query
          description: month for which you want to get the depreciation amount
          required: false
          type: string
          default: null
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/Asset/{id}/getResidualValue':
    get:
      tags:
        - Asset
      summary: Get residual value of the specified asset for the given year/month
      description: >-
        Calls getResidualValue() in Asset.php to get the residual value of the
        specified asset for the given year/month
      operationId: AssetGetResidualValue
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: Id of the asset of which you want to get the residual value
          required: true
          type: integer
          default: null
        - name: year
          in: query
          description: year for which you want to get the residual value
          required: false
          type: string
          default: null
        - name: month
          in: query
          description: month for which you want to get the residual value
          required: false
          type: string
          default: null
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /AssetPos:
    get:
      tags:
        - AssetPos
      summary: Get an overview of all asset positions
      description: Calls AssetPos.php to get necessary variables.
      operationId: getAssetPositions
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 100
          required: false
          type: integer
          default: 100
        - name: offset
          in: query
          description: Set the index where the returned assets start. Default is 0
          required: false
          type: integer
          default: 0
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AssetPos'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    post:
      tags:
        - AssetPos
      summary: Create a new asset position
      description: 'Calls AssetPos.php '
      operationId: addAssetPos
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: body
          in: body
          description: >-
            To create an asset position, simply enter desired values after
            parameter= and remove the quotation marks.
          required: true
          schema:
            example: >-
              asset[id]=&asset[objectName]=Asset&year=&month=&depreciationAmount=&residualValue=
          x-example: >-
            asset[id]=&asset[objectName]=Asset&year=&month=&depreciationAmount=&residualValue=
      responses:
        '201':
          description: created
          schema:
            $ref: '#/definitions/Model_AssetPos'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/AssetPos/{id}':
    put:
      tags:
        - AssetPos
      summary: Update an existing asset position
      description: Calls AssetPos.php
      operationId: updateAssetPosition
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of asset position you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: "Parameters which need to be updated. Please refer to the description from create asset position.\r\n\r\nAppend the parameters according to the syntax: parameter1=&parameter2= and remove the quotation marks!"
          schema:
            example: ''
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_AssetPos'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    delete:
      tags:
        - AssetPos
      summary: Delete an existing asset position
      description: Calls the delete() function in AssetPos.php
      operationId: deleteAssetPosition
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of asset position you want to delete
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: deleted
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /Category:
    get:
      tags:
        - Category
      summary: Get an overview of all categories
      description: Calls Category.php to get necessary variables.
      operationId: getCategories
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 100
          required: false
          type: integer
          default: 100
        - name: offset
          in: query
          description: Set the index where the returned categories start. Default is 0
          required: false
          type: integer
          default: 0
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_Category'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    post:
      tags:
        - Category
      summary: Create a new category
      description: 'Calls Category.php '
      operationId: addCategory
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: body
          in: body
          description: >-
            To create a category, simply enter desired values after parameter=
            and remove the quotation marks.
          required: true
          schema:
            example: name=&objectType=&priority=100
          x-example: name=&objectType=&priority=100
      responses:
        '201':
          description: created
          schema:
            $ref: '#/definitions/Model_Category'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/Category/{id}':
    put:
      tags:
        - Category
      summary: Update a existing category
      description: Calls Category.php
      operationId: updateCategory
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of category you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: "Parameters which need to be updated. Please refer to the description from create discount.\r\n\r\nEnter the parameters according to the syntax: parameter1=&parameter2="
          schema: {}
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_Category'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    delete:
      tags:
        - Category
      summary: Delete an existing category
      description: Calls the delete() function in Category.php
      operationId: deleteCategory
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of category you want to delete
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: deleted
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /CheckAccount:
    get:
      tags:
        - CheckAccount
      summary: Get an overview of all check accounts
      description: Calls CheckAccount.php to get necessary variables.
      operationId: getCheckAccounts
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 100
          required: false
          type: integer
          default: 100
        - name: offset
          in: query
          description: Set the index where the returned check accounts start. Default is 0
          required: false
          type: integer
          default: 0
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_Discounts'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    post:
      tags:
        - CheckAccount
      summary: Create a new check account
      description: Calls CheckAccount.php to create a check account
      operationId: addCheckAccount
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: body
          in: body
          description: >-
            To create a check account, simply enter desired values after
            parameter= and remove the quotation marks.
          required: true
          schema:
            example: name=&type=&currency=&status=
          x-example: name=&type=&currency=&status=
      responses:
        '201':
          description: created
          schema:
            $ref: '#/definitions/Model_CheckAccount'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CheckAccount/{id}':
    put:
      tags:
        - CheckAccount
      summary: Update an existing check account
      description: Calls CheckAccount.php to update a check account
      operationId: updateCheckAccount
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: Id of check account you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: "Parameters which need to be updated. Please refer to the description from create discount.\r\n\r\nEnter the parameters according to the syntax: parameter1=&parameter2="
          schema: {}
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_CheckAccount'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    delete:
      tags:
        - CheckAccount
      summary: Delete an existing check account
      description: Calls the delete() function in CheckAccount.php
      operationId: deleteCheckAccount
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: Id of check account you want to delete
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: deleted
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CheckAccount/{id}/getNewTransactions':
    get:
      tags:
        - CheckAccount
      summary: Get new transactions from figo
      description: >-
        Calls getNewTransactions() in CheckAccount.php to check if there are any
        transactions in figo that are not in the db and import them.
      operationId: CheckAccountGetNewTransactions
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: Id of the check account you want to use
          required: true
          type: integer
          default: null
        - name: fromDate
          in: query
          description: Start date of period you want to check on
          required: true
          type: string
          default: null
        - name: toDate
          in: query
          description: End date of period you want to check on
          required: true
          type: string
          default: null
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CheckAccount/{id}/getSupportedTanSchemes':
    get:
      tags:
        - CheckAccount
      summary: Get supported tan schemes of figo
      description: >-
        Calls getSupportedTanSchemes() in CheckAccount.php to get the supported
        tan schemes of figo.
      operationId: CheckAccountGetSupportedTanSchemes
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: >-
            Id of the check account you want to use. Must be a figo check
            account!
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CheckAccount/{id}/getCheckAccountDetails':
    get:
      tags:
        - CheckAccount
      summary: Get check account details of figo check account
      description: >-
        Calls getCheckAccountDetails() in CheckAccount.php to get the details of
        the figo check account.
      operationId: CheckAccountGetCheckAccountDetails
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: >-
            Id of the check account you want to use. Must be a figo check
            account!
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CheckAccount/{id}/getIbanBic':
    get:
      tags:
        - CheckAccount
      summary: Get iban and bic of figo check account
      description: >-
        Calls getIbanBic() in CheckAccount.php to get the iban and bic of the
        figo check account.
      operationId: CheckAccountGetIbanBic
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: >-
            Id of the check account you want to use. Must be a figo check
            account!
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CheckAccount/{id}/setDefault':
    put:
      tags:
        - CheckAccount
      summary: Set the specified check accounts as the default check account
      description: >-
        Calls setDefault() in CheckAccount.php to set a specified check account
        as the default check account
      operationId: CheckAccountSetDefault
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: Id of check account you want to set as the default check account
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CheckAccount/{id}/transfer':
    put:
      tags:
        - CheckAccount
      summary: Transfer an amount from one check account to another
      description: >-
        Calls transfer() in CheckAccount.php to transfer an amount from one
        check account to another
      operationId: CheckAccountTransfer
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: Id of check account you want to use as source account
          required: true
          type: integer
          default: null
        - name: amount
          in: query
          description: Amount you want to transfer
          required: true
          type: string
          default: null
        - name: 'target[id]'
          in: query
          description: Target check account id
          required: true
          type: integer
          default: null
        - name: 'target[objectName]'
          in: query
          description: Target check account object name
          required: true
          type: string
          default: CheckAccount
        - name: date
          in: query
          description: Date of the transfer
          required: true
          type: string
          default: null
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CheckAccount/{id}/getCurrentBalance':
    get:
      tags:
        - CheckAccount
      summary: Get current balance of the specified check account
      description: >-
        Calls getCurrentBalance() in CheckAccount.php to get the balance of the
        specified check account.
      operationId: CheckAccountGetCurrentBalance
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: Id of the check account of which you want the current balance
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /CheckAccount/getSupportedBankServices:
    get:
      tags:
        - CheckAccount
      summary: Get supported bank services of figo
      description: >-
        Calls getSupportedBankServices() in CheckAccount.php to get the bank
        services figo supports.
      operationId: CheckAccountGetSupportedBankServices
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /CheckAccount/getPaymentIsSupported:
    get:
      tags:
        - CheckAccount
      summary: Return if a payment method is supported
      description: >-
        Calls getPaymentIsSupported() in CheckAccount.php to get if a payment
        method is supported.
      operationId: CheckAccountGetPaymentIsSupported
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /CheckAccountTransaction:
    get:
      tags:
        - CheckAccountTransaction
      summary: Get an overview of all check account transactions
      description: Calls CheckAccountTransaction.php to get necessary variables.
      operationId: getCheckAccountTransactions
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 100
          required: false
          type: integer
          default: 100
        - name: offset
          in: query
          description: >-
            Set the index where the returned check account transactions start.
            Default is 0
          required: false
          type: integer
          default: 0
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_CheckAccountTransaction'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    post:
      tags:
        - CheckAccountTransaction
      summary: Create a new check account transaction
      description: 'Calls CheckAccountTransaction.php '
      operationId: addCheckAccountTransaction
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: body
          in: body
          description: >-
            To create a check account transaction , simply enter desired values
            after parameter= and remove the quotation marks.
          required: true
          schema:
            example: >-
              valueDate=&amount=&paymtPurpose=&checkAccount[id]=&checkAccount[objectName]=CheckAccount
          x-example: >-
            valueDate=&amount=&paymtPurpose=&checkAccount[id]=&checkAccount[objectName]=CheckAccount
      responses:
        '201':
          description: created
          schema:
            $ref: '#/definitions/Model_CheckAccountTransaction'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CheckAccountTransaction/{id}':
    put:
      tags:
        - CheckAccountTransaction
      summary: Update a existing check account transaction
      description: Calls CheckAccountTransaction.php
      operationId: updateCheckAccountTransaction
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of check account transaction you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: "Parameters which need to be updated. Please refer to the description from create check account transaction.\r\n\r\nEnter the parameters according to the syntax: parameter1=&parameter2="
          schema: {}
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_CheckAccountTransaction'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    delete:
      tags:
        - CheckAccountTransaction
      summary: Delete an existing check account transaction
      description: Calls the delete() function in CheckAccountTransaction.php
      operationId: deleteCheckAccountTransaction
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of check account transaction you want to delete
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: deleted
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CheckAccountTransaction/{id}/getLog':
    get:
      tags:
        - CheckAccountTransaction
      summary: Get log of a specified check account transaction
      description: >-
        Calls getLog() in CheckAccountTransaction.php to get the log of a
        specified check account transaction.
      operationId: CheckAccountTransactionGetLog
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: Id of the check account transaction of which you want to get the log
          required: true
          type: integer
          default: null
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_CheckAccountTransactionLog'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CheckAccountTransaction/{id}/changeStatus':
    put:
      tags:
        - CheckAccountTransaction
      summary: Update status of a existing check account transaction
      description: Calls changeStatus() in CheckAccountTransaction.php
      operationId: updateCheckAccountTransactionStatus
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of check account transaction you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: >-
            Enter your desired status after value= and remove the quotation
            marks
          schema:
            example: value=
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_CheckAccountTransaction'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CheckAccountTransaction/{id}/linkInvoice':
    put:
      tags:
        - CheckAccountTransaction
      summary: link invoice to check account transaction
      description: "Calls linkInvoice() in CheckAccountTransaction.php.\r\n    This will update the specified invoice as well as the status of the check account transaction!"
      operationId: linkInvoiceToCheckAccountTransaction
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of check account transaction you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: >-
            Enter the id of the invoice you want to be linked after invoiceId=
            and remove the quotation marks.
          schema:
            example: invoiceId=
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_CheckAccountTransaction'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CheckAccountTransaction/{id}/linkVoucher':
    put:
      tags:
        - CheckAccountTransaction
      summary: link voucher to check account transaction
      description: "Calls linkVoucher() in CheckAccountTransaction.php.\r\n    This will update the specified voucher as well as the status of the check account transaction!"
      operationId: linkVoucherToCheckAccountTransaction
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of check account transaction you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: >-
            Enter the id of the voucher you want to be linked after voucherId=
            and remove the quotation marks.
          schema:
            example: voucherId=
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_CheckAccountTransaction'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CheckAccountTransaction/{id}/getRemainingAmount':
    get:
      tags:
        - CheckAccountTransaction
      summary: Get invoice amount which is not assigned yet
      description: >-
        Calls getRemainingAmount() in CheckAccountTransaction.php to get invoice
        amount which is not assigned yet.
      operationId: CheckAccountTransactionGetRemainingAmount
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: Id of check account transaction you want to use
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /CheckAccountTransactionLog:
    get:
      tags:
        - CheckAccountTransactionLog
      summary: Get an overview of all check account transactions which were logged
      description: Calls CheckAccountTransactionLog.php to get necessary variables.
      operationId: getCheckAccountTransactionLog
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 100
          required: false
          type: integer
          default: 100
        - name: offset
          in: query
          description: >-
            Set the index where the returned logged check account transactions
            start. Default is 0
          required: false
          type: integer
          default: 0
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_CheckAccountTransactionLog'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    post:
      tags:
        - CheckAccountTransactionLog
      summary: Create a new logged check account transaction
      description: 'Calls CheckAccountTransactionLog.php '
      operationId: addCheckAccountTransactionLog
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: body
          in: body
          description: >-
            To create a logged check account transaction , simply enter desired
            values after parameter= and remove the quotation marks.
          required: true
          schema:
            example: >-
              checkAccountTransaction[id]=&checkAccountTransaction[objectName]=CheckAccountTransaction&fromStatus=&toStatus=&bookingDate=
          x-example: >-
            checkAccountTransaction[id]=&checkAccountTransaction[objectName]=CheckAccountTransaction&fromStatus=&toStatus=&bookingDate=
      responses:
        '201':
          description: created
          schema:
            $ref: '#/definitions/Model_CheckAccountTransactionLog'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CheckAccountTransactionLog/{id}':
    put:
      tags:
        - CheckAccountTransactionLog
      summary: Update a existing logged check account transaction
      description: Calls CheckAccountTransactionLog.php
      operationId: updateCheckAccountTransactionLog
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of logged check account transaction you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: "Parameters which need to be updated. Please refer to the description from create check account transaction log.\r\n\r\nEnter the parameters according to the syntax: parameter1=&parameter2="
          schema: {}
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_CheckAccountTransactionLog'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    delete:
      tags:
        - CheckAccountTransactionLog
      summary: Delete an existing logged check account transaction
      description: Calls the delete() function in CheckAccountTransactionLog.php
      operationId: deleteCheckAccountTransactionLog
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of logged check account transaction you want to delete
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: deleted
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /CommunicationWay:
    get:
      tags:
        - CommunicationWay
      summary: Get an overview of all communication ways
      description: Calls CommunicationWay.php to get necessary variables.
      operationId: getCommunicationWays
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 100
          required: false
          type: integer
          default: 100
        - name: offset
          in: query
          description: >-
            Set the index where the returned communication ways start. Default
            is 0
          required: false
          type: integer
          default: 0
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_CommunicationWay'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    post:
      tags:
        - CommunicationWay
      summary: Create a new communication way
      description: 'Calls CommunicationWay.php '
      operationId: addCommunicationWay
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: body
          in: body
          description: >-
            To create a communication way , simply enter desired values after
            parameter= and remove the quotation marks.
          required: true
          schema:
            example: 'type=&value=&key[id]=&key[objectName]=CommunicationWayKey'
          x-example: 'type=&value=&key[id]=&key[objectName]=CommunicationWayKey'
      responses:
        '201':
          description: created
          schema:
            $ref: '#/definitions/Model_CommunicationWay'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  '/CommunicationWay/{id}':
    put:
      tags:
        - CommunicationWay
      summary: Update a existing communication way
      description: Calls CommunicationWay.php
      operationId: updateCommunicationWay
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of communication way you want to update
          required: true
          type: integer
          default: null
        - name: body
          in: body
          description: "Parameters which need to be updated. Please refer to the description from create communication way.\r\n\r\nEnter the parameters according to the syntax: parameter1=&parameter2="
          schema: {}
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_CommunicationWay'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    delete:
      tags:
        - CommunicationWay
      summary: Delete an existing communication way
      description: Calls CommunicationWay.php
      operationId: deleteCommunicationWay
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: id
          in: path
          description: id of communication way you want to delete
          required: true
          type: integer
          default: null
      responses:
        '200':
          description: deleted
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /CommunicationWayKey:
    get:
      tags:
        - CommunicationWayKey
      summary: Get an overview of all communication way keys
      description: Calls CommunicationWayKey.php to get necessary variables.
      operationId: getCommunicationWayKeys
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 100
          required: false
          type: integer
          default: 100
        - name: offset
          in: query
          description: >-
            Set the index where the returned communication way keys start.
            Default is 0
          required: false
          type: integer
          default: 0
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_CommunicationWayKey'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
  /Contact:
    get:
      tags:
        - Contact
      summary: Get an overview of all contacts
      description: Calls Contact.php to get necessary variables
      operationId: getContacts
      consumes:
        - application/text
      produces:
        - application/xml
        - application/json
      parameters:
        - name: depth
          in: query
          description: >-
            If depth is set 1 companies and persons will be shown, otherwise
            only the companies will be shown. Default: 0
          required: false
          type: integer
          default: 0
        - name: limit
          in: query
          description: Limits the number of entries returned. Default is 100
          required: false
          type: integer
          default: 100
        - name: offset
          in: query
          description: Set the index where the returned contacts start. Default is 0
          required: false
          type: integer
          default: 0
        - name: embed
          in: query
          description: >-
            Get some additional information. Embed can handle multiple values,
            they must be separated by comma. Default ``.
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Model_Contact'
        '400':
          description: invalid request
        '401':
          description: authentication required
      security:
        - api_key: []
    post:
      tags:
        - Contact
      summary: Create a new contact of type person or company
      description: "Creating a new contact of type person/company calls a shared path with the same http-verb.\r\nHowever, both types require certain parameters which will indicate that their type of contact should be created.\r\nSo, using **familyname** or **name** in front of 'category' will define if either a person or a company is created"
      operationId: addContact
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/xml
        - application/json
      parameters:
        - name: body
          in: body
[...]
